<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BootcampClient.ClientSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BootcampClient.ClientSetting>
            <setting name="ServerHost" serializeAs="String">
                <value>192.168.100.90</value>
            </setting>
            <setting name="TcpPort" serializeAs="String">
                <value>4530</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>Bootcamp</value>
            </setting>
            <setting name="UdpPort" serializeAs="String">
                <value>5050</value>
            </setting>
        </BootcampClient.ClientSetting>
    </userSettings>
</configuration>